node_modules
*.log
dist
package-lock.json
.npmrc
.eslintcache
.nyc_output
coverage
.DS_STORE
.env
.vagrant
.dir-locals.el
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
!keep
